<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ioassistant activate</title>

</head>

<body style="margin:0;font-family:sans,arial,sans-serif;font-size:18px;font-weight:400;overflow-x: hidden;">
  <div style="display: table;background: #000;height: 2.4rem;font-size: 1.4rem;width: 100%;box-shadow: 0 0 10px #000;padding:1rem 0;">
    <div style="width: 90%;left: 5%;position: relative;display: block;justify-content: center;">
        <h3 style="text-align:center"><a style="text-decoration: none;color: #fff;" href="https://www.ioassistant.com" target="_blank">IOASSISTANT</a></h3>
    </div>
  </div>
  <div style="margin-top: 8rem;text-align: center;width: 90%;margin-left: 5%">
    <h2>Newsletter Subscription Activation</h2>
    <p>{{date}}</p>
    <hr style="margin: 3rem 0;width: 70%;margin-left: 15%;background: #000">
    <div>
      <p style="font-size: 1.2rem">Thank you for signing up to our newsletter. To continue, please confirm your email address by clicking the button below.</p>
    </div>
    <div style="text-align: center;margin: 3rem 0"> <a style="background: #000;padding: .4rem .6rem;border-radius: 4px;box-shadow: 0 0 4px #000;text-decoration: none;color: #fff" href="https://www.ioassistant.com/api/subscription?id={{id}}" target="_blank">ACTIVATE</a> </div><small style="font-size: .8rem">If you did not signup for this newsletter, please ignore this email and we appologize for any inconvenience
      caused.</small>
      <span style="height: 30px;display: list-item;list-style: none;"></span>
      <small style="font-size: .8rem">This message is automated, do not reply directly.</small>
    <hr style="margin: 3rem 0;width: 70%;margin-left: 15%;background: #000">
  </div>
  <div style="text-align: center;padding-bottom: 3rem">
    <div style="font-size: 1rem">&copy;&nbsp;<a style="color: #868686;text-decoration: none;" href="https://www.facebook.com/Nomatec-Labs-102083311959313" target="_blank">Nomatec Labs</a>&nbsp;2021</div>
    <div style="font-size: .8rem;margin-top: .5rem">Created by Nomatec Labs.</div>
  </div>
</body>

</html>
